.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}
.content {
    padding: 20px;
    color: black;
}
.active {
    background-color: #ddd;
}
.show {
    display: block;
}

.PostCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
}

.PostCard p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
